.app-container, #main {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    background: #FFFFFF !important;
}

@media screen and (max-width: 979px) {
  .app-container, #main {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
  }
}

.inputWrapper {
  width: 215px;
  height: 22px;
  border: 1px solid #ccc;
}

.inputWrapper input {
  padding: 4px 6px;
  border: 0px;
  margin: 0px;
  padding: 0px;
  vertical-align: top;
}

.napTime {
  width: 92px;
}

.napDurationHr {
  width: 32px;
}

.napDurationMin {
  width: 32px;
}

.timeToFallAsleep {
  width: 220px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  margin: 0px;
}
td {
  min-width: 120px;
  text-align: center;
}
.alignleft {
  text-align: left;
}
#main {
  padding: 10px 20px;
}